/*
* { /*http://learnlayout.com/box-sizing.html
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/

body {
  margin: 0;
  padding: 0;
  background-color: #ffe5c3;
}

/* ==== NAVBAR ==== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f08831;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #de6f13;
}

/* ==== MAIN ==== */

main {
    max-width: 900px;
    margin: 0 auto; 
    background-color: #ffffff;
}

[src="img/holiday-dinner-banner-fit.jpg"] {
  height: 100%;
  width: 100%;
}

h2 {
  margin: 10px 20px;
}

.recipe-container {
  height: 100%;
  display: flex;
  flex-flow: row wrap; /*row orders items from left to right while wrap allows items to "continue" */
  justify-content: space-evenly;
}

.recipe-block {
  background-color: #ffe5c3;
  /* border: 1px solid #de6f13; */
  text-align: center;
  width: 250px;
  height: 300px;
  padding: 10px;
  margin: 5px auto;
}
